body {
  background-color: black;
}

.welcome-message {
  margin-bottom: 0;
}

.ui.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  height: 4em;
  margin-top: 0;
}

.navbar {
  color: white;
}

.ui.inverted.menu {
  color: white;
}

.nav-logo {
  height: 3vh;
  margin: .5em;
}

.logo {
  width: 100vh;
  margin: 5vh;
  align-self: center;
}

label {
  color: white;
}

h1.plays-list-label, .plays-list-label {
  color: white;
  align-self: center;
  margin: 1em;
}

.playbook {
  display: flex;
  flex-direction: column;
  width:95%;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui.card {
  border: 0.5em solid rgb(35, 35, 35);
  padding: 1em;
  display: flex;
  align-items: center;
  width: auto;
}
.ui.card:first-child {
  margin: 2em;
}

.ui.centered.card {
  margin: 0;
}

#coach-username {
  align-items: left;
  width: 25em;
}

#sign-in{
  width: 40em;
}

.input {
  border-bottom: solid 5px black;
}

button {
  align-self: center;
  margin: 1em;
}

.play-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.play-image {
  padding:0;
  width:100%;
}

.fc-button {
  color: black;
  border: 1px solid white;
}

.fc-card {
  width: 100%;
}

#player-prof {
  width: 26em;
  margin-bottom: 2em;
}

#coach-prof {
  width: 100em;
  margin-bottom: auto;
}

.add-play-form{
  width: 33em;
}

.header {
  height:auto;
}

@media only screen and (max-width: 1919px) and (min-width: 1200px){
  .ui.page.grid {
    padding-left:1em;
    padding-right:1em;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    width: 60vh;
  }
}
